<div class="ui fixed inverted menu" style="padding: 0px 15px;">
  {{#link-to 'index' class='header item'}}Discontinue{{/link-to}}
  {{#if session.isAuthenticated}}
    {{#link-to 'authenticated.repositories' class='item'}}Repositories{{/link-to}}
    {{#link-to 'authenticated.builds' class='item'}}Builds{{/link-to}}
    {{#link-to 'authenticated.build_requests' class='item'}}Build Requests{{/link-to}}
  {{/if}}

  <div class="right menu">
    {{#if session.isAuthenticated}}
      <div class="item">
        <img src="{{currentUser.user.github_avatar_url}}" class="ui avatar image" >
        <span>
          {{currentUser.user.github_login}}
        </span>
      </div>
      <a class="item" href="#" onclick={{action "logout"}}>Log Out</a>
    {{else}}
      <a class="item" href="#" onclick={{action "login"}}>Github Login</a>
    {{/if}}
  </div>
</div>

<div class="ui main text" style="margin-top: 55px; padding: 20px 30px;">
  {{outlet}}
</div>
