<li class="text-{{style}}-4 hover:text-{{style}}-8 flex">
  {{#link-to 'authenticated.builds.show.stream.show.box' @build.id @stream.id @box.id 
    inactiveClass=(concat 'text-' style '-5')
    activeClass=(concat 'text-' style '-8 border-b-2 border-' style '-8' )
    class="block p-2"
  }}
    <div class="flex">
      {{#if this.active}}
        <StatusIcon @status={{@box.status}} class="mr-2"/>
      {{/if}}
      <div>
      {{@index}} 
      <span class="text-xs">
        [{{human-date-diff start=@box.startedAt finish=@box.finishedAt}}]
      </span>
      </div>
    </div>
  {{/link-to}}
</li>
