<li class="p-2 {{if (is-url-active 'authenticated.builds.show.stream.show.box' build.id stream.id box.id) (concat 'font-bold border-b-2 border-' tabClass)}} text-{{tabClass}} flex">
  {{#if box.active}}
    {{fa-icon 'spinner' spin=true class="mr-2"}}
  {{/if}}
  {{#link-to 'authenticated.builds.show.stream.show.box' build.id stream.id box.id class=(concat 'text-' tabClass)}}
    {{index}} 
    <span class="text-xs">
      [{{box.humanized_time}}]
    </span>
  {{/link-to}}
</li>
