<Card @borderColor={{concat color '-5'}} @borderTop=2 @border=0 class="md:justify-between">
<div class="flex  md:flex-row flex-wrap md:w-5/6 w-full">
  <div class="md:w-3/5 md:pr-3 md:border-r border-b md:border-b-0 pb-3 border-grey-2 flex-none w-full mb-3 md:mb-0">
    <div class="mb-3 flex items-center">
      <div class="mr-3 inline-block">
        {{#if @showLink}}
          {{#link-to 'authenticated.builds.show' @build.id class="no-underline inline-block"}}
            <span class="border border-{{color}}-5 bg-{{color}}-5 text-grey-1 p-1 text-center rounded inline-block flex items-center">
              <b class="text-grey-1">#{{@build.id}}</b> <span class="text-sm ml-2">{{@build.state}}</span>
            </span>

          {{/link-to}}
        {{else}}
          <span class="border border-{{color}}-5 bg-{{color}}-5 text-grey-1 p-1 text-center rounded inline-block flex items-center">
            <b class="text-grey-1">#{{@build.id}}</b> <span class="text-sm ml-2">{{@build.state}}</span>
          </span>
        {{/if}}
      </div>

      <span class="mr-3 flex items-center">
        <Icon @name="bookmarks" class="mr-2"/> <span class="middle-align"> {{@build.repository.name}} </span>
      </span>

      <span class="mr-3 flex items-center">
        <Icon @name="git-branch" class="mr-2"/> <strong class="align-middle truncate md:w-64 w-32 inline-block" title={{@build.branch}}> {{@build.branch}} </strong>
      </span>

    </div>

    <div class="text-sm text-grey-5">
      <pre class="whitespace-pre-wrap break-words">{{@build.commitMessage}}</pre>
    </div>
  </div>
  <div class="md:w-1/6 w-1/2 px-3 border-r border-grey-2 flex-none pt-1">
    <a href="{{@build.commitUrl}}" target="_blank" class="mr-3 no-underline block mb-3 text-xs text-grey-6">
      <Icon @name="git-commit" />
      <span class="align-middle font-mono inline-block">{{@build.shortSha}}</span>
    </a>

    {{#each @build.pullRequests as |pullRequest|}}
      <a href="https://github.com/{{@build.repository.fullName}}/pull/{{pullRequest}}" target="_blank" class="mr-3 no-underline block mb-3 text-xs text-grey-6">
        <Icon @name="git-pull-request" />
        <span class="align-middle font-mono inline-block">#{{pullRequest}}</span>
      </a>
    {{/each}}

    <span class="text-grey-6 text-xs mr-3 block flex-none">
      <Icon @name="person" /> 
      <span class="align-middle">{{@build.author}}</span>
    </span>
  </div>
  <div class="md:w-1/6 w-1/2 px-3 md:border-r border-grey-2 flex-none pt-1">
    {{#if @build.startedAt}}
      <span class="text-xs mb-3 block">
        <Icon @name="stopwatch" /> 
        <span class="align-middle">
          {{human-date-diff start=@build.startedAt finish=@build.finishedAt}}
        </span>
      </span>
    {{/if}}
    <span class="text-xs block mb-3">
      <Icon @name="time" /> 
      <span class="align-middle" title={{@build.createdAt}}>
        {{date-from-now @build.createdAt addSuffix=true}}
      </span>
    </span>
    {{#if @lastBuild}}
      <span class="text-xs block">
        <Icon @name="build" /> 
        {{#link-to 'authenticated.builds.show' @lastBuild.id}}
          Last Build #{{@lastBuild.id}}
        {{/link-to}}
      </span>
    {{/if}}
  </div>
</div>

  <div class="p-2">

  </div>

  <div class="">
    {{#each @build.events as |event|}}
      <Button @skin="link" @size="sm" @style="accent" @action={{action this.triggerEvent event}}>
        {{event}}
      </Button>
    {{/each}}
  </div>
</Card>
