<button class="
        text-{{this.textSize}}
        text-{{this.textColor}} hover:text-{{this.hoverTextColor}}
        bg-{{this.bgColor}} hover:bg-{{this.hoverBgColor}}
        {{if this.border 'border'}} border-{{this.style}}-8 
        px-3 py-2 
        inline-block rounded" onclick={{action this.doAction}}>
{{yield}}
</button>
