<div class="p-3 mb-3 border{{this.border}} border-t-{{borderTop}} border-{{this.borderColor}} shadow bg-white flex flex-col lg:flex-{{this.flexDirection}} inline-block w-{{this.width}} rounded" ...attributes>
{{yield}}
</div>
