<table class="table table-fixed font-mono text-sm">
  <tbody>
    {{#each artifacts as |artifact|}}
      <tr>
        <td class="break-words">
          <div class="flex">
            {{fa-icon (if (eq artifact.extension ".json") 'file' (if (eq artifact.extension ".html") 'file-code' 'file-image')) prefix='far' class="mr-2"}}
            <a href="{{artifact.presignedUrl}}" target="_blank" class="break-words">
              {{artifact.filename}}
            </a>
          </div>
        </td>
        <td class="w-24">
          {{artifact.extension}}
        </td>
        <td class="w-24">
          {{artifact.size}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
