<div class="p-3 border border-t-4 bg-white shadow flex justify-between border-{{color}}">
  <div class="w-3/4">
    <div class="text-grey-darker text-lg mb-3">
      <span class="mr-3">
        {{#if showLink}}
          {{#link-to 'authenticated.builds.show' build.id class="no-underline"}}
            #{{build.id}}
          {{/link-to}}
        {{else}}
          #{{build.id}}
        {{/if}}
      </span>

      <span class="mr-3">
        {{fa-icon 'code'}} {{build.repository.name}}/<strong>{{build.branch}}</strong>
      </span>

      <a href="{{build.commitUrl}}" target="_blank" class="mr-3">
        <span class="border p-1 text-xs rounded text-grey-dark">
          {{fa-icon 'code-commit' class="far"}} {{build.shortSha}}
        </span>
      </a>

      <span class="text-grey-dark text-sm">
        {{build.author}}
      </span>
    </div>

    <div class="text-sm">
      <pre>{{build.commitMessage}}</pre>
    </div>
  </div>

  {{#if lastBuild}}
    <div class="content">
      {{#link-to 'authenticated.builds.show' lastBuild.id}}
        Last Build #{{lastBuild.id}}
      {{/link-to}}
    </div>

  {{/if}}

  <div>
    <div class="default text">Options</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each build.events as |event|}}
        <div class="item" {{action "triggerEvent" event}}>
          {{event}}
        </div>
      {{/each}}
    </div>
  </div>

</div>
