<div class="ui segment {{color}} {{activeClass}}">
  <div class="title" {{action 'toggleCommand'}}>
    [{{command.humanized_time}}] {{ command.command }}
  </div>
  <div class="content {{activeClass}}">
    <pre class="output_contents">{{command.lines}}</pre>
  </div>
</div>
