<div class="p-2">
  <div class="title" {{action 'toggleCommand'}}>
    <div class="w-16 inline-block text-xs text-grey-dark text-right mr-2">[{{command.humanized_time}}]</div> 
    <span class="font-mono text-sm">
      {{ command.command }}
    </span>
  </div>
  {{#if toggle}}
    <div class="content {{activeClass}} mt-2 text-sm">
      <pre class="output_contents">{{{ansi_lines}}}</pre>
    </div>
  {{/if}}
</div>
