<div class="ui {{color}} fluid card">
  <div class="content">
    <span class="left floated">
      {{#if showLink}}
        {{#link-to 'authenticated.builds.show' build.id}}
          #{{build.id}} {{build.state}}
        {{/link-to}}
      {{else}}
        #{{build.id}} {{build.state}}
      {{/if}}
    </span>
    <div>
      <div class="default text">Options</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each build.events as |event|}}
          <div class="item" {{action "triggerEvent" event}}>
            {{event}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="content">
    <span>
      {{fa-icon 'code'}} {{build.repository.name}}
    </span>
    &middot;

    <strong>
      {{fa-icon 'code-merge'}} {{build.branch}}
    </strong>
    &middot;

    <a href="{{build.hook_hash.head_commit.url}}" target="_blank">
      {{fa-icon 'code-commit'}} {{build.sha}}
    </a>
    &middot;

    <span>
      {{fa-icon 'user'}} {{build.hook_hash.head_commit.author.username}}
    </span>
    &middot;

    {{#if lastBuild}}
      {{#link-to 'authenticated.builds.show' lastBuild.id}}
        Last Build #{{lastBuild.id}}
      {{/link-to}}
    {{/if}}

  </div>
</div>
