<div class="p-3 mb-3 border border-t-4 bg-white shadow flex justify-between items-center border-{{color}}">
  <div class="w-3/4">
    <div class="text-grey-darker text-lg mb-3 flex items-center">
      <span class="mr-3">
        {{#if showLink}}
          {{#link-to 'authenticated.builds.show' build.id class="no-underline"}}
            #{{build.id}}
          {{/link-to}}
        {{else}}
          #{{build.id}}
        {{/if}}
      </span>

      <span class="mr-3">
        {{fa-icon 'code'}} {{build.repository.name}}
      </span>

      <span class="mr-3">
        {{fa-icon 'code-branch'}} <strong>{{build.branch}}</strong>
      </span>

      <a href="{{build.commitUrl}}" target="_blank" class="mr-3">
        <span class="text-xs text-grey-dark font-mono">
          {{fa-icon 'dot-circle' prefix="far"}} {{build.shortSha}}
        </span>
      </a>

      <span class="text-grey-dark text-sm">
        {{fa-icon 'user' prefix="far"}} {{build.author}}
      </span>
    </div>

    <div class="text-sm text-grey-dark">
      <pre>{{build.commitMessage}}</pre>
    </div>
  </div>

  {{#if lastBuild}}
    <div class="content">
      {{#link-to 'authenticated.builds.show' lastBuild.id}}
        Last Build #{{lastBuild.id}}
      {{/link-to}}
    </div>

  {{/if}}

  <div class="">
    <span class="border border-{{color}} bg-{{color}} text-white p-1 text-center text-sm rounded">
      {{build.state}}
    </span>

    {{ui-dropdown items=build.events itemSelected=(action 'triggerEvent')}}

    <!-- <div class="default text">Options</div> -->
    <!-- <i class="dropdown icon"></i> -->
    <!-- <div class="menu"> -->
    <!--   {{#each build.events as |event|}} -->
    <!--     <div class="item" {{action "triggerEvent" event}}> -->
    <!--       {{event}} -->
    <!--     </div> -->
    <!--   {{/each}} -->
    <!-- </div> -->
  </div>

</div>
