<Card class="bg-{{this.style}}-1 border-{{this.style}}-3" @flexDirection="col" @borderColor={{this.style}}>
  <div class="w-full flex lg:flex-row flex-wrap ">
    <div class="w-full lg:w-3/5 border-r border-grey-2 pr-3 mb-2 lg:mb-0">
      <span class="block mb-3 break-words min-w-0">
        <strong>
          {{#link-to 'authenticated.test_results' (query-params page=1 test_id=@result.test_id)}}
            <Icon @name="filing" class="mr-2" /> 
          {{/link-to}}

          {{ @result.description }}
        </strong>
      </span>
      <span class="block text-grey-8 mb-1 break-words min-w-0">
        {{#copy-button
          clipboardText=(concat @result.file_path ':' @result.line_number)
          }}
          <Icon @name="clipboard" class="mr-2 text-primary-8" /> 
        {{/copy-button}}

        {{@result.file_path}}:{{@result.line_number}}
      </span>
      {{#if (or @result.exception.message @result.artifacts)}}
        <span class="text-grey-8 hidden lg:block">
          <Button @skin="link" @size="sm" @action={{action this.toggleMore}}>
            <Icon @name={{this.moreIcon}} /> more info
          </Button>
        </span>
      {{/if}}
    </div>
    <div class="lg:w-1/6 w-1/2 px-3 border-r border-grey-2 flex-none pt-1">
      <span class="text-grey-8 text-xs mr-3 mb-3 block flex-none flex">
        <StatusIcon @status={{@result.status}} class="mr-2" /> 
        <span class="align-middle">{{@result.status}}</span>
      </span>
      <span class="text-grey-8 text-xs mr-3 mb-3 block flex-none flex">
        <Icon @name="information-circle-outline" class="mr-2" /> 
        <span class="align-middle">{{@result.test_type}}</span>
      </span>
      <span class="text-grey-8 text-xs mr-3 mb-3 block flex-none flex">
        <Icon @name="stopwatch" class="mr-2" /> 
        <span class="align-middle">{{@result.duration}}s</span>
      </span>
    </div>
    <div class="lg:w-1/6 w-1/2 px-3 border-grey-2 flex-none pt-1">
      <span class="text-grey-8 text-xs mr-3 mb-3 block flex-none flex">
        <Icon @name="square" class="mr-2" /> 
        <span class="align-middle">{{#link-to 'authenticated.builds.show.stream.show.box' @result.stream.build.id @result.stream.id @result.box.id}}  Box #{{@result.box.id}} {{/link-to}}</span>
        </span>
        <span class="text-grey-8 text-xs mr-3 mb-3 block flex-none flex">
          <Icon @name="build" class="mr-2" /> 
          <span class="align-middle">{{#link-to  'authenticated.builds.show' @result.stream.build.id}} Build #{{@result.build.id}} {{/link-to}}</span>
          </span>
          <span class="text-grey-8 text-xs mr-3 mb-3 block flex-none flex">
            <Icon @name="git-branch" class="mr-2" /> 
            <span class="align-middle">{{@result.build.branch}}</span>
          </span>
    </div>
    {{#if (or @result.exception.message @result.artifacts)}}
      <span class="text-grey-8 lg:hidden block">
        <Button @skin="link" @size="sm" @action={{action this.toggleMore}}>
          <Icon @name={{this.moreIcon}} /> more info
        </Button>
      </span>
    {{/if}}
  </div>
  {{#if this.showMore}}
    <div class="pt-3">
      {{#if @result.exception.message}}
            <ShellOutput>
            {{~@result.exception.message~}}
            <div>
              {{#each @result.exception.backtrace as |line|}}
                {{line}}
              {{/each}}
            </div>
            </ShellOutput>
      {{/if}}
      <div>
        <Artifacts @artifacts={{@result.artifacts}} />
      </div>
    </div>
  {{/if}}
</Card>
