<tr class="{{if (eq result.status 'passed') 'positive' 'negative'}}" {{action 'toggleException'}}>
  <td data-label="Box">{{link-to result.box.id 'authenticated.builds.show.stream.show.box' result.stream.build.id result.stream.id result.box.id}}</td>
  <td data-label="Description">{{result.description}}</td>
  <td data-label="Test Type">{{result.test_type}}</td>
  <td data-label="Location">{{result.file_path}}:{{result.line_number}}</td>
  <td data-label="Duration">{{result.duration}}</td>
</tr>
{{#if showException}}
  {{#if result.exception.message}}
    <tr>
      <td colspan='5'>
        <pre class="output_contents">
                {{~result.exception.message~}}
                <div>
                {{#each result.exception.backtrace as |line|}}
 {{line}}
                {{/each}}
                </div>
        </pre>
      </td>
    </tr>
  {{/if}}
{{/if}}
