<tr class="{{concat 'bg-' (if (eq result.status 'passed') 'success' (if (eq result.status 'skipped') 'warning' 'danger')) '-lightest'}}" {{action 'toggleMore'}}>
  {{#if showBuild}}
    <td data-label="Build">{{link-to result.build_id 'authenticated.builds.show' result.stream.build.id}}</td>
  {{/if}}
  <td data-label="Box">{{link-to result.box.id 'authenticated.builds.show.stream.show.box' result.stream.build.id result.stream.id result.box.id}}</td>
  <td data-label="Description">{{link-to result.description 'authenticated.test_results' (query-params test_id=result.test_id)}}</td>
  <td data-label="Test Type">{{result.test_type}}</td>
  <td style="    word-wrap: break-word; " data-label="Location">{{result.file_path}}:{{result.line_number}}</td>
  <td data-label="Duration">{{result.duration}}</td>
</tr>
{{#if showMore}}
  {{#if result.exception.message}}
    <tr>
      <td colspan='5'>
        <pre class="output_contents">
                {{~result.exception.message~}}
                <div>
                {{#each result.exception.backtrace as |line|}}
 {{line}}
                {{/each}}
                </div>
        </pre>
      </td>
    </tr>
  {{/if}}
  <tr>
    <td colspan='5'>
      {{dis-artifacts artifacts=result.artifacts}}
    </td>
  </tr>
{{/if}}
