<div class="ui bottom attached tab segment active">
  <div class="ui list">
    <table class="ui fixed single line very basic table">
      <thead>
        <tr>
          <th class="twelve wide">
            Build Artifacts
          </th>
          <th class="two wide"></th>
          <th class="two wide"></th>
        </tr>
      </thead>
      <tbody>
        {{#each model.streams as |stream|}}
          <tr>
            <td colspan="3">
              <i class="folder icon"></i>
              {{stream.name}}
            </td>
          </tr>
          {{#each stream.boxes as |box|}}
            <tr>
              <td colspan="3">
                <i class="folder icon"></i>
                Box
                {{box.box_number}}
              </td>
            </tr>
            {{#each box.artifactListing as |artifact|}}
              <tr>
                <td>
                  <i class="file {{if (eq artifact.extension ".json") 'alternate' (if (eq artifact.extension ".html") 'code' 'image')}} outline icon"></i>
                  <a href="{{artifact.presigned_url}}" target="_blank">
                    {{artifact.filename}}
                  </a>
                </td>
                <td>
                  {{artifact.extension}}
                </td>
                <td>
                  {{artifact.size}}
                </td>
              </tr>
            {{/each}}
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

