<div class="ui bottom attached tab segment active" >
  <table class="ui selectable celled table">
    <thead>
      <tr>
        <th>Stream</th>
        <th>Test Type</th>
        <th>Status</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.summaryResults as |result|}}
        <tr class="{{if (eq result.status 'passed') 'positive' 'negative'}}">
          <td data-label="Stream">{{result.stream.name}}</td>
          <td data-label="Test Type">{{result.test_type}}</td>
          <td data-label="Status">{{result.status}}</td>
          <td data-label="Count">{{result.count}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
