<div class="">
  {{#ui-header level=4}}Timing Summary{{/ui-header}}
  <table class="table mb-6">
    <thead>
      <tr class="">
        <th>Name</th>
        <th>Time</th>
        <th>Total Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.buildTiming.results as |result|}}
        <tr>
          <td data-label="Name">{{result.name}}</td>
          <td data-label="Time">{{result.time}}</td>
          <td data-label="Total Time">{{result.total_time}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#ui-header level=4}}Test Result Summary{{/ui-header}}
  <table class="table mb-6">
    <thead>
      <tr>
        <th>Stream</th>
        <th>Test Type</th>
        <th>Status</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.buildSummary.display as |result|}}
        <tr class="{{concat 'bg-' (if (eq result.status 'passed') 'success' (if (eq result.status 'skipped') 'warning' 'danger')) '-lightest'}}">
          <td data-label="Stream">{{result.stream.name}}</td>
          <td data-label="Test Type">{{result.test_type}}</td>
          <td data-label="Status">{{link-to result.status 'authenticated.builds.show.stream.test_results' model.id result.stream.id (query-params status=result.status)}}</td>
          <td data-label="Count">{{result.count}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#ui-header level=4}}Profile Summary{{/ui-header}}

  <table class="table mb-6">
    {{#each model.profileSummary.results as |result|}}
      <thead>
        <tr>
          <th colspan="2">{{result.stream_name}} Slowest Tests</th>
        </tr>
        <tr>
          <th>Test</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {{#each result.slow_tests as |test|}}
          <tr>
            <td data-label="Test">{{test.name}}</td>
            <td data-label="Duration">{{test.duration}}</td>
          </tr>
        {{/each}}
      </tbody>

      <thead>
        <tr>
          <th colspan="2">{{result.stream_name}} Slowest Files</th>
        </tr>
        <tr>
          <th>File</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {{#each result.slow_files as |test|}}
          <tr>
            <td data-label="File">{{test.name}}</td>
            <td data-label="Duration">{{test.duration}}</td>
          </tr>
        {{/each}}
      </tbody>
    {{/each}}
  </table>

</div>
