{{dis-build build=model}}

<div class="flex flex-col mt-6 bg-white border w-full border-primary-2 shadow rounded">
  <ul class="list-reset px-3 pt-3 flex flex-none bg-primary-1">
    {{#each model.streams as |stream|}}
      {{stream-tab stream=stream}}
    {{/each}}
    <li class="mr-1 p-2 {{if (is-url-active 'authenticated.builds.show.summary' model) 'text-grey-8 border-b-2 border-grey-5'}}">
      {{#link-to 'authenticated.builds.show.summary' model.id inactiveClass="text-grey-5" activeClass="text-grey-10" class="pb-2"}}
        Summary
      {{/link-to}}
    </li>
    <li class="mr-1 p-2 {{if (is-url-active 'authenticated.builds.show.artifacts' model) 'text-grey-8 border-b-2 border-grey-5'}}">
      {{#link-to 'authenticated.builds.show.artifacts' model.id inactiveClass="text-grey-5" activeClass="text-grey-10" class="pb-2"}}
        Artifacts
      {{/link-to}}
    </li>
  </ul>

  <div class="p-3 pt-4">
    {{outlet}}
  </div>
</div>

