<h2>{{model.name}}</h2>

<div class="ui form">
  <div class="field">
    <label for="">Config</label>
    {{ember-ace lines=20 value=model.config mode='ace/mode/yaml' theme='ace/theme/tomorrow_night' update=(action (mut model.config)) }}
  </div>

  <h3>Stream Configurations</h3>
  {{#each model.streamConfigs as |config index|}}
    <div class="field">
      <label for="">Stream Config</label>
      {{ember-ace lines=20 value=config mode='ace/mode/yaml' theme='ace/theme/tomorrow_night' update=(action "updateStreamConfig" index) }}
    </div>

    <div class="field">
      <button class="ui basic red button" {{action "removeStreamConfig" config}}>{{fa-icon "minus"}} Remove Stream {{config.name}}</button>
    </div>
  {{/each}}

  <div class="field">
    <button class="ui basic secondary button" {{action "addStreamConfig"}}>{{fa-icon "plus"}} Add Stream Configuration</button>
  </div>

  <button class="ui button primary" {{action "save"}}>Save</button>
</div>
